@tailwind base;
@tailwind components;
@tailwind utilities;
@import "markdown-navbar/dist/navbar.css";
@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
}

@layer components {
  .btn-orange {
    @apply bg-orange-500 hover:bg-orange-700 dark:text-slate-200 text-neutral-700 font-bold px-4 rounded; 
  }
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .textc {
    @apply dark:text-slate-200 text-neutral-700;
  }
  .bgc {
    @apply bg-slate-200 dark:bg-neutral-800;
  }
  .card {
    @apply mx-auto bg-white dark:bg-neutral-900 rounded-xl shadow-md overflow-hidden hover:scale-105 transition-all duration-500;
  }
  .textover {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

